<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050261158757-ig11gi19dg2ghj35tf6ofo52p0tro5i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050261158757-ig11gi19dg2ghj35tf6ofo52p0tro5i9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1050261158757-5m32lpav53ashkedlot5hrnq4k6v6a2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHVKVJ4QjAmVImOp6e5-Gh7ECrqgMJR5s</string>
	<key>GCM_SENDER_ID</key>
	<string>1050261158757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.timepill.diary-app</string>
	<key>PROJECT_ID</key>
	<string>timepill-34b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>timepill-34b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050261158757:ios:64f7ffbe79832c68</string>
	<key>DATABASE_URL</key>
	<string>https://timepill-34b5f.firebaseio.com</string>
</dict>
</plist>